* {margin:0;padding: 0;}

.to {
	width: 809px;
}

.tin {
	width: 263px;
	margin-right: 10px;
	float: left;
	margin-top: 10px;
}

.tin img {
	width: 263px;
	height: 240px;
}

.text a.tile {
	text-decoration: none;
	font-size: 15px;
	padding-top: 5px;
	line-height: 20px;
	display: inline-block;
	color: black;
	font-weight: bold;
	height: 45px;
	width: 100%;
}

p.prace {
	color: #EA8025;
	font-size: 17px;
	font-weight: bold;
	padding-bottom: 5px;
}

a.menuitemleft {
    font-size: 13px;
    font-weight: bold;
    color: white;
    display: inline-block;
    font-family: segoe ui;      
    border: 2px solid #EA8025;
    padding: 4px 6px;
    text-decoration: none;
    background-color: #EA8025;  
    animation: matdi 3s forwards;
    transition: 0.4s;
}

a.menuitemleft:hover {
    background-color: transparent;
    color: #EA8025;  
}

.tin:nth-child(3n){ 
	margin-right: 0px;
}

/*////////////////////////// Xong san pham /////////////////////*/

a.danhmuc {
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	font-family: tahoma;
	color: 	#EA8025;
}

h3 {
	color: #EA8025;
	font-family: tahoma;
	font-weight: bold;
	font-size: 30px;
}

h3:after {
	content: '';
	width: 55px;
	height: 2px;
	background-color: #EA8025;
	top: 0;
	left: 0;
	display: block;
}

li.list-group-item a {
	text-decoration: none;
	font-family: segoe ui light;
	color: black;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
}

